@import './common/header.css';
@import './common/footer.css';
@import './common/activity.css';
@import './common/lott.css';
@import './common/common.css';

#body {
    display: none;
}

main {
    background-image: url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    min-height: 730px;
}

.main_container {
    position: relative;
    width: 730px;
    height: 730px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.img_100 img {
    width: 100%;
}

.count {
    background-image: url(../images/time.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 213px;
    height: 82px;
    position: absolute;
    z-index: 10;
    left: 240px;
    top: 8px;
    display: none;
}

.count_num_all {
    height: 82px;
    position: absolute;
    left: 100px;
    top: -2px;
    display: flex;
    align-items: center;
}

.count_num {
    font-weight: 900;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.score {
    background-image: url(../images/score.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 242px;
    height: 66px;
    position: absolute;
    z-index: 10;
    left: 468px;
    top: 19px;
    display: none;
}

.score_num {
    height: 66px;
    position: absolute;
    left: 155px;
    top: -5px;
    font-weight: 900;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.fade_in {
    animation-name: fadein;
    animation-duration: .8s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade_out {
    animation-name: fadeout;
    animation-duration: .8s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadeout {
    from {
        opacity: 1;
        /* top: 70%; */

    }

    to {
        opacity: 0;
        /* top: 50%; */
    }
}

@keyframes fadein {
    from {
        /* top: 70%; */
        opacity: 0;
    }

    to {
        /* top: 50%; */
        opacity: 1;
    }
}

.fade_in_round2 {
    animation-name: fadein;
    animation-duration: .8s;
}

.fade_out_round2 {
    animation-name: fadeout;
    animation-duration: .8s;
}

/* =============== 開始頁面 =============== */
#game_start {
    background-image: url(../images/game_start.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* display: none; */
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#game_start_dialogbox {
    background-image: url(../images/dialogbox_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 364px;
    height: 200.5px;
    position: absolute;
    right: 19px;
    bottom: 44px;
    animation: 1s blink ease-out;
}

#game_start_txt {
    position: absolute;
    right: 16px;
    bottom: 19px;
    width: 325px;
    font-size: 24px;
    line-height: 35px;
    color: #5E895E;
}

#startbtn {
    position: absolute;
    right: 33px;
    top: 345px;
    width: 255px;
    height: 80px;
    cursor: pointer;
}

#startbtn img {
    position: absolute;
}

#startbtn img:nth-of-type(2):hover {
    opacity: 0;
}

/* =============== 開始頁面 =============== */
/* =============== 第一關頁面 =============== */
@keyframes add_animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

#game_round1 {
    background-image: url(../images/game_first.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: none;
    cursor: url(../images/sight.png)55 55, auto;
    overflow: hidden;
}

#game1_start,
#game1_end,
#game2_start,
#game2_end {
    height: 100%;
    display: none;
}

#left_ip {
    width: 238px;
    position: absolute;
    bottom: -32px;
    left: 18px;
}

.game_round_dialogbox {
    background-image: url(../images/dialogbox_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 549px;
    height: 314px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 185px;
    right: 14px;
    animation: 1s blink ease-out;
    display: none;
    cursor: default;
}

.game_round_dialogbox_all {
    padding-top: 10px;
}

#round01_dialogbox {
    display: flex;
}

.game_round_title {
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #5E895E;
    text-align: center;
}

.game_round_txt {
    margin: 16px auto;
    width: 448px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #231815;
}

span {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #E16866;
}

.game_round_start_btn {
    margin: 0 auto;
    width: 180px;
    height: 42px;
    background: #76A276;
    border-radius: 50px;
    font-weight: 900;
    font-size: 24px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

#dog01 {
    width: 249px;
    /* height: 197px; */
    position: absolute;
    bottom: 40px;
    right: 32px;
}

#dog02 {
    width: 188px;
    /* height: 214px; */
    position: absolute;
    bottom: 37px;
    right: 175px;
    display: none;
}

#dog03 {
    width: 189px;
    /* height: 214px; */
    position: absolute;
    bottom: 37px;
    right: 53px;
    display: none;
}

#pack_all {
    position: relative;
    top: 372px;
    left: 202px;
    width: 450px;
    /* height: 141px; */
    display: flex;
    justify-content: space-around;
    align-items: end;
    display: none;
    cursor: url(../images/sight.png)55 55, auto;
}

#box_1_1 {
    width: 120px;
    display: flex;
    align-items: end;
}

#box_1_2 {
    width: 190px;
    display: flex;
    align-items: end;
}

#box_1_3 {
    width: 101.5px;
    display: flex;
    align-items: end;
}

#pack_all_02 {
    position: relative;
    top: 511px;
    left: 214px;
    width: 427px;
    /* height: 134px; */
    display: flex;
    align-items: end;
    display: none;
    cursor: url(../images/sight.png)55 55, auto;
}

#box_2_1 {
    width: 132px;
    position: absolute;
    left: 0;
    display: flex;
    align-items: end;
}

#box_2_2 {
    position: absolute;
    width: 108px;
    left: 125px;
    display: flex;
    align-items: end;
}

#box_2_3 {
    position: absolute;
    right: 0;
    width: 183px;
    display: flex;
    align-items: end;
}

.add_5 {
    animation: 1.5s add_animation ease-out;
    position: absolute;
    width: 80px;
    display: none;
}

#add_01 {
    top: 40%;
    left: 54%;
}

#add_02 {
    top: 40%;
    left: 69%;
}

.success_circle,
.mistake {
    position: absolute;
    width: 50px;
    display: none;
}

#success01 {
    top: 44%;
    left: 56%;
}

#mistake_left01 {
    top: 44%;
    left: 34%;
}

#mistake_right01 {
    top: 44%;
    left: 78%;
}

#success02 {
    top: 44%;
    left: 71%;
}

#mistake_left02 {
    top: 44%;
    left: 51%;
}

#mistake_right02 {
    top: 44%;
    left: 34%;
}

/* =============== 第一關頁面 =============== */
/* =============== 第二關頁面 =============== */
#game_round2 {
    background-image: url(../images/game_second.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: url(../images/sight.png)55 55, auto;
    display: none;
}

#left_ip_2 {
    width: 329.5px;
    position: absolute;
    bottom: -36px;
    left: 10px;
}

#more_all {
    position: absolute;
    bottom: 33px;
    right: 22px;
}

#not_goods {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 363px;
    height: 55px;
    background: #E16866;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 24px;
    line-height: 35px;
}

.more {
    display: flex;
    align-items: center;
}

.more_txt {
    padding-left: 36px;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

#more_btn {
    width: 17px;
    margin-bottom: 6px;
}

.next_box {
    /* background-image: url(../images/next_box.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    width: 190px;
    height: 54px;
    position: absolute;
    top: 478px;
    right: 80px;
    cursor: url(../images/sight.png)55 55, auto;
    transition: all 0.1s ease-out;
    display: none;
}

/* .next_box:hover {
    top: 480px;
    background-image: url(../images/next_box_hover.png);
} */

.next_box img {
    position: absolute;
}

.next_box img:nth-of-type(2):hover {
    opacity: 0;
}

.next_box_last {
    /* background-image: url(../images/finish_btn.png); */
    display: none;
}

/* .next_box_last:hover {
    background-image: url(../images/finish_btn_hover.png);
} */

.next_box_last img:nth-of-type(2):hover {
    opacity: 0;
}

#round02_dialogbox {
    /* display: none; */
    z-index: 5;
}

#round2_q1 {
    position: relative;
    top: 140px;
    left: 295px;
    width: 353.59px;
    height: 338.73px;
    display: none;
}

#round2_q1_box {
    position: absolute;
    bottom: 0;
    width: 263.31px;
}

#round2_q1_facemask {
    position: absolute;
    top: 35px;
    left: 87px;
    width: 144px;
    z-index: 1;
}

#round2_q1_potatochips {
    position: absolute;
    top: 130px;
    left: 25px;
    width: 98px;
    z-index: 2;
}

#round2_q1_chocolate {
    position: absolute;
    top: 238px;
    left: 14px;
    width: 138px;
    z-index: 3;
}

#round2_q1_dogfood {
    position: absolute;
    top: 193px;
    left: 205px;
    width: 121px;
    z-index: 4;
}

#round2_q1_wood {
    position: absolute;
    top: 227px;
    left: -88px;
    width: 126px;
    z-index: 5;
}

#round2_q2 {
    position: relative;
    top: 187px;
    left: 210px;
    width: 434px;
    height: 265px;
    display: none;
}

#round2_q2_box {
    position: absolute;
    bottom: 0;
    width: 381.26px;
}

#round2_q2_coffee {
    position: absolute;
    top: 0px;
    left: 160px;
    width: 142px;
    z-index: 1;
}

#round2_q2_sausage {
    position: absolute;
    top: 25px;
    left: 79px;
    width: 109px;
    z-index: 2;
}

#round2_q2_egg {
    position: absolute;
    top: 0px;
    left: 250px;
    width: 100px;
    z-index: 3;
}

#round2_q2_noodle {
    position: absolute;
    bottom: -11px;
    right: 0px;
    width: 167px;
    z-index: 4;
}

#round2_q3 {
    position: relative;
    top: 202px;
    left: 270px;
    width: 370px;
    height: 265px;
    display: none;
}

#round2_q3_box {
    position: absolute;
    top: 0;
    width: 263.31px;
}

#round2_q3_vegetable {
    position: absolute;
    top: 85px;
    left: 14px;
    width: 127px;
    z-index: 1;
}

#round2_q3_peanut {
    position: absolute;
    top: -12px;
    left: 35px;
    width: 100px;
    z-index: 2;
}

#round2_q3_detergent {
    position: absolute;
    bottom: 24px;
    left: 250px;
    width: 108px;
    z-index: 3;
}

#round2_q3_plant {
    position: absolute;
    bottom: 7px;
    left: 177px;
    width: 96px;
    z-index: 4;
}

#add_03 {
    right: 10%;
    top: 31%;
}

@keyframes fadein_out {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#error_popup {
    background-image: url(../images/dialogbox_wrong.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 205px;
    height: 117px;
    position: absolute;
    top: 200px;
    left: 73px;
    z-index: 10;
    display: none;
    opacity: 0;
    animation: 1.2s fadein_out ease-in;
}

/* =============== 第二關頁面 =============== */
/* =============== 第三關頁面開始 =============== */
#game_round3 {
    background-image: url(../images/game_third.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: url(../images/sight.png)55 55, auto;
    display: none;
}

#left_ip_3 {
    width: 347px;
    position: absolute;
    bottom: -22px;
    left: 10px;
}

.game_round3_txt {
    width: 460px;
}

#round03_dialogbox {
    z-index: 5;
}

.round3_qa {
    width: 450px;
    height: 212px;
    position: absolute;
    top: 34%;
    left: 27%;
    display: none;
}

.round3_qa_content {
    display: flex;
    width: 450px;
}

.round3_ques_img {
    width: 68px;
    margin-right: 15px;
}

.round3_ques_txt {
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;
    color: #48362D;
    margin: 5px 0 30px;
}

.round3_ans_txt_all {
    display: flex;
}

.round3_ans_option {
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;
    color: #E16B69;
    cursor: url(../images/sight.png)55 55, auto;
    margin-bottom: 15px;
}

.round3_ans_option:hover {
    color: #48362D;
}

.round3_ans_option:first-child {
    margin-right: 30px;
    min-width: 150px;
}

@keyframes fade_up {
    0% {
        top: 35%;
        opacity: 0.2;
    }

    100% {
        top: 25%;
        opacity: 1;
    }
}

#round3_error_popup {
    width: 430px;
    height: 400px;
    background: #F6DD5C;
    border: 7px solid #FFFFFF;
    border-radius: 15px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    animation: 0.5s fade_up ease-in;
    display: none;
}

#round3_error_a_img {
    margin: 25px auto 0;
    width: 68px;
}

#round3_correct {
    width: 365px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 15px;
    margin: 10px auto 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#round3_correct_txt {
    text-align: justify;
    width: 320px;
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;
    color: #48362D;
}

.confirm_btn {
    width: 180px;
    height: 42px;
    background: #A4AED2;
    border-radius: 50px;
    margin: 0 auto;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
}

#add_04 {
    top: 74%;
    left: 78%;
}

.fade_in_round3 {
    animation-name: fadein;
    animation-duration: .8s;
}

.fade_out_round3 {
    animation-name: fadeout;
    animation-duration: .8s;
}

/* =============== 第三關頁面結束 =============== */
/* =============== 表單頁面 =============== */
#game_end {
    background-image: url(../images/form.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
}

#game_form {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

#game_form_ip {
    position: absolute;
    bottom: -3.4%;
    left: 6%;
    width: 344px;
}

#game_form_content {
    display: flex;
    position: absolute;
    top: 25%;
    left: 6.5%;
}

#game_form_title {
    background-image: url(../images/dialogbox_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 235.5px;
    height: 206.5px;
    margin: 24px 39.5px 0 0;
}

.form_row {
    display: flex;
    align-items: center;
    position: relative;
    width: 350px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-bottom: 30px;
}

.game_label {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #48362D;
    margin: 0 5px 0 19px;
}

.game_input {
    border: 0 solid #B7B8B8;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    /* padding-left: 5px; */
}

::placeholder {
    color: #C8C9CA;
    opacity: 1;
    /* Firefox */
}

.exclamation_word {
    position: absolute;
    top: 105%;
    left: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #E16B69;
    display: none;
}

.form_submit_btn {
    position: relative;
    width: 220px;
    height: 61px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    margin: 40px auto 20px;
}

.form_submit_btn img {
    position: absolute;
}

.form_submit_btn img:nth-of-type(2):hover {
    opacity: 0;
}

.form_repeat_btn {
    position: relative;
    margin: 0 auto;
    width: 220px;
    height: 61px;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.form_repeat_btn img {
    position: absolute;
}

.form_repeat_btn img:nth-of-type(2):hover {
    opacity: 0;
}

@keyframes fade_up_2 {
    0% {
        top: 50%;
        opacity: 0.2;
    }

    100% {
        top: 38%;
        opacity: 1;
    }
}

.game_completed {
    width: 444px;
    height: 217px;
    background: #F6DD5C;
    border: 7px solid #FFFFFF;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 0.5s fade_up_2 ease-in;
    display: none;
}

.game_completed_text {
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;
    color: #48362D;
    text-align: center;
    margin-bottom: 40px;
}

/* =============== 表單頁面 =============== */
/* =============== 未滿35分頁面 =============== */
#game_fail {
    width: 100%;
    height: 100%;
    display: none;
}

#game_fail_ip {
    width: 291.5px;
    position: absolute;
    bottom: -4.1%;
    left: 6%;
}

#game_fail_title {
    background-image: url(../images/dialogbox_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 373px;
    height: 327px;
    position: absolute;
    left: 36%;
    top: 20%;
}

#gameFormRepeat2 {
    position: absolute;
    top: 73%;
    left: 50%;
}

/* =============== 未滿35分頁面 =============== */
.game_times_up_bg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_times_up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_times_up_text {
    margin: 0;
}

#gameTimesUp {
    display: none;
}

@media (max-width: 767.98px) {
    main {
        background-image: url(../images/bg_mb.png);
    }

    .main_container {
        width: 574px;
        height: 574px;
    }

    .count {
        width: 167.48px;
        height: 64.48px;
        left: 190px;
        top: 8px;
    }

    .count_num_all {
        height: 64.48px;
        left: 76px;
    }

    .score_num {
        height: 51.9px;
        left: 123px;
    }

    .count_num,
    .score_num {
        font-size: 19px;
    }

    .score {
        width: 190.28px;
        height: 51.9px;
        left: 369px;
        top: 16px;
    }

    #game_start_dialogbox {
        width: 300.118px;
        height: 165.312px;
        right: 19px;
        bottom: 44px;
    }

    #game_start_txt {
        right: 14px;
        bottom: 19px;
        width: 270px;
        font-size: 18.638px;
        line-height: 26.021px;
    }

    #startbtn {
        right: 17px;
        top: 305px;
        width: 200.5px;
        height: 62.91px;
    }

    /* 第一關 */
    #game1_start,
    #game1_end,
    #game2_start,
    #game2_end {
        /* height: 574px; */
        display: none;
    }

    #left_ip {
        width: 187.14px;
        bottom: -27px;
        left: 13px;
    }

    .game_round_dialogbox {
        width: 431.68px;
        height: 246.9px;
        top: 139px;
        right: 20px;
    }

    .game_round_title {
        font-size: 21.43px;
        line-height: 31.03px;
    }

    .game_round_txt {
        margin: 7.6px auto;
        width: 360px;
        font-size: 18.368px;
        line-height: 24px;
    }

    .game_round_start_btn {
        width: 141.53px;
        height: 33.02px;
        border-radius: 23.5644px;
        font-size: 18.368px;
        line-height: 32px;
    }

    span {
        font-size: 18.368px;
        line-height: 24px;
    }

    #dog01 {
        width: 195.79px;
    }

    #dog02 {
        width: 147px;
        bottom: 28px;
        right: 139px;
    }

    #dog03 {
        width: 147px;
        bottom: 28px;
        right: 42px;
    }

    #pack_all {
        width: 355px;
        top: 293px;
        left: 160px;
    }

    #pack_all_02 {
        width: 336px;
        top: 402px;
        left: 168px;
    }

    #box_1_1 {
        width: 94px;
    }

    #box_1_2 {
        width: 150.01px;
    }

    #box_1_3 {
        width: 81.13px;
    }

    #box_2_1 {
        width: 104px;
    }

    #box_2_2 {
        width: 85px;
        left: 95px;
    }

    #box_2_3 {
        width: 143px;
    }

    .success_circle,
    .mistake {
        width: 25px;
    }

    .add_5 {
        width: 60px;
    }

    /* 第一關 */
    /* 第二關開始 */
    #left_ip_2 {
        width: 259.09px;
        bottom: -28px;
    }

    #round2_q1 {
        top: 116px;
        left: 232px;
        width: 277.05px;
        height: 260.98px;
        /* display: none; */
    }

    #round2_q1_box {
        width: 202.87px;
    }

    #round2_q1_facemask {
        width: 114px;
        top: 25px;
        left: 67px;
    }

    #round2_q1_potatochips {
        top: 91px;
        left: 20px;
        width: 76px;
    }

    #round2_q1_chocolate {
        width: 106.32px;
        top: 181px;
        left: 17px;
    }

    #round2_q1_dogfood {
        width: 92px;
        top: 145px;
        left: 164px;
    }
    #round2_q1_wood {
        width: 99px;
        top: 171px;
        left: -63px;
    }
    .next_box {
        width: 159px;
        height: 45px;
        top: 380px;
        right: 63px;
    }

    .next_box:hover {
        top: 382px;

    }

    #more_all {
        bottom: 26px;
        right: 19px;
    }

    .more_txt,
    #more_btn {
        margin-bottom: 3px;
    }

    #not_goods {
        width: 285.43px;
        height: 43.25px;
        border-radius: 30px;
        font-size: 20px;
        line-height: 31.03px;
    }

    #round2_q2 {
        width: 340px;
        height: 210px;
        top: 145px;
        left: 168px;
    }

    #round2_q2_box {
        width: 298.59px;
    }

    #round2_q2_coffee {
        top: 1.5px;
        left: 122px;
        width: 111.21px;
    }

    #round2_q2_sausage {
        top: 21.5px;
        left: 58px;
        width: 85.36px;
    }

    #round2_q2_egg {
        left: 196px;
        width: 85px;
    }

    #round2_q2_noodle {
        width: 136.06px;
    }

    #round2_q3 {
        top: 142px;
        left: 191px;
        width: 307px;
        height: 221px;
    }

    #round2_q3_box {
        width: 218.95px;
    }

    #round2_q3_vegetable {
        top: 72px;
        left: 6px;
        width: 110.6px;
    }

    #round2_q3_peanut {
        top: -7px;
        left: 35px;
        width: 75px;
    }

    #round2_q3_detergent {
        bottom: 5px;
        left: 213px;
        width: 95px;
    }

    #round2_q3_plant {
        bottom: 15px;
        left: 155px;
        width: 76px;
    }

    #error_popup {
        width: 176.027px;
        height: 101.024px;
        top: 151px;
        left: 67px;
    }

    /* =============== 第二關結束 ===============*/
    /* =============== 第三關開始 =============== */
    #left_ip_3 {
        width: 272.841px;
        bottom: -18px;
        left: 20px;
    }

    .game_round3_txt {
        width: 383px;
    }

    #round03_dialogbox {
        z-index: 5;
    }

    .round3_qa {
        width: 404px;
        height: 176.027px;
        top: 34%;
        left: 24%;
    }

    .round3_qa_content {
        width: 401px;
    }

    .round3_ques_img {
        width: 68px;
        margin-right: 15px;
    }

    .round3_ques_txt {
        font-size: 24px;
        line-height: 35px;
        margin: 2px 0 16px;
    }

    .round3_ans_option {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 14px;
    }

    .round3_ans_option:first-child {
        min-width: 124px;
        margin-right: 14px;
    }

    #round3_error_popup {
        width: 368.9px;
        height: 342.86px;
        border: 6.7px solid #FFFFFF;
        border-radius: 14.5px;
    }

    #round3_error_a_img {
        margin: 26.65px auto 0;
        width: 58px;
    }

    #round3_correct {
        width: 313.78px;
        height: 160px;
        border-radius: 14.5px;
        margin: 9px auto 15px;
    }

    #round3_correct_txt {
        width: 254px;
        font-size: 24.5px;
        line-height: 35.2px;
    }

    .confirm_btn {
        width: 143.88px;
        height: 33.675px;
        font-size: 24px;
        line-height: 33.675px;
    }

    /* =============== 第三關結束 =============== */
    /* =============== 表單頁面開始 =============== */
    #game_form_title {
        width: 185.18px;
        height: 162.37px;
        margin: 20px 31.05px 0 0;
    }

    #game_form_ip {
        width: 262.92px;
    }

    .form_row {
        width: 275.52px;
        height: 45.92px;
    }

    .game_label {
        margin: 0 0px 0 14px;
    }

    .game_input {
        font-size: 16px;
        line-height: 23px;
    }

    .exclamation_word {
        top: 102%;
        font-size: 14px;
        line-height: 20px;
    }

    .form_repeat_btn,
    .form_submit_btn {
        width: 170px;
        height: 47px;
    }

    .form_submit_btn {
        margin: 39px auto 10px;
    }

    .game_completed {
        width: 368.89px;
        height: 154.6px;
        border: 6.7px solid #FFFFFF;
        border-radius: 14.5px;
    }

    .game_completed_text {
        font-size: 24.5px;
        line-height: 35.2px;
        margin-bottom: 30.61px;
    }

    /* =============== 表單頁面結束 =============== */
    /* =============== 未滿35分開始 =============== */
    #game_fail_ip {
        width: 229.2px;
        position: absolute;
        bottom: -4.1%;
        left: 6%;
    }

    #game_fail_title {
        width: 293.3px;
        height: 257.12px;
    }

    /* =============== 未滿35分結束 =============== */

    .game_times_up_text {
        margin: 0;
    }
}

@media (max-width: 575.98px) {
    main {
        min-height: auto;
    }
    .main_container {
        width: 100vw;
        height: 100vw;
    }

    .count {
        width: 29.18vw;
        height: 11.232vw;
        left: 32.738vw;
        top: 1.226vw;
    }

    .count_num_all {
        height: 11.232vw;
        left: 13.066vw;
    }

    .score_num {
        height: 9.04vw;
        left: 21.6vw;
        top: -0.8vw;
    }

    .count_num,
    .score_num {
        font-size: 3.2vw;
    }

    .score {
        width: 33.152vw;
        height: 9.04vw;
        left: 63.835vw;
        top: 2.603vw;
    }

    #game_start_dialogbox {
        width: 52.285vw;
        height: 28.8vw;
        right: 3vw;
        bottom: 6vw;
    }

    #game_start_txt {
        right: 2.1vw;
        bottom: 3.8vw;
        width: 47.5vw;
        font-size: 3.2vw;
        line-height: 4.533vw;
    }

    #startbtn {
        right: 3vw;
        top: 53vw;
        width: 34.931vw;
        height: 10.96vw;
    }

    /* 第一關開始 */
    #game1_start,
    #game1_end,
    #game2_start,
    #game2_end {
        /* height: 100vw; */
    }

    #left_ip {
        width: 32.603vw;
        bottom: -5.067vw;
        left: 3.467vw;
    }

    .game_round_dialogbox {
        width: 75.205vw;
        height: 43.013vw;
        top: 24vw;
        right: 1.5vw;
    }

    .game_round_title {
        font-size: 3.6vw;
        line-height: 5.6vw;
    }

    .game_round_txt {
        margin: 1.2vw auto;
        width: 61.6vw;
        font-size: 3.2vw;
        line-height: 4.533vw;
    }

    span {
        font-size: 3.2vw;
        line-height: 4.533vw;
    }

    .game_round_start_btn {
        width: 24.659vw;
        height: 5.755vw;
        border-radius: 6.284vw;
        font-size: 3.2vw;
        line-height: 5.5vw;
    }

    #dog01 {
        width: 34.109vw;
        bottom: 4.3vw;
        right: 4.267vw;
    }

    #dog02 {
        width: 26vw;
        bottom: 4.5vw;
        right: 24vw;
    }

    #dog03 {
        width: 26vw;
        bottom: 4.5vw;
        right: 7.2vw;
    }

    #pack_all {
        width: 61.6vw;
        top: 51.2vw;
        left: 27.733vw;
    }

    #pack_all_02 {
        width: 58.4vw;
        top: 70.15vw;
        left: 29.333vw;
    }

    #box_1_1 {
        width: 17.067vw;
    }

    #box_1_2 {
        width: 25.867vw;
    }

    #box_1_3 {
        width: 14.133vw;
    }

    #box_2_1 {
        width: 17.867vw;
    }

    #box_2_2 {
        width: 14.8vw;
        left: 16.267vw;
    }

    #box_2_3 {
        width: 24.8vw;
    }

    .success_circle,
    .mistake {
        width: 5.6vw;
    }

    .add_5 {
        width: 14.133vw;
    }

    /* 第一關結束 */
    /* 第二關開始 */
    #left_ip_2 {
        width: 45.136vw;
        bottom: -5vw;
    }

    #round2_q1 {
        top: 21.06vw;
        left: 40.93vw;
        width: 48.267vw;
        height: 45.333vw;
        /* display: none; */
    }

    #round2_q1_box {
        width: 35.344vw;
    }

    #round2_q1_facemask {
        width: 18.667vw;
        top: 4vw;
        left: 13vw;
    }

    #round2_q1_potatochips {
        top: 15vw;
        left: 4vw;
        width: 13.333vw;
    }

    #round2_q1_chocolate {
        width: 18.667vw;
        top: 30vw;
        left: 3vw;
    }

    #round2_q1_dogfood {
        width: 16vw;
        top: 24.5vw;
        left: 29vw;
    }
    #round2_q1_wood {
        width: 15.5vw;
        top: 30.5vw;
        left: -9vw;
    }

    .next_box {
        width: 28.8vw;
        height: 8vw;
        top: 66vw;
        right: 10vw;
    }

    .next_box:hover {
        top: 66.02vw;
    }

    #more_all {
        bottom: 4.5vw;
        right: 3.5vw;
    }

    .more_txt {
        padding-left: 2.9333vw;
        font-size: 3.2vw;
        line-height: 6.133vw;
    }

    .more_txt,
    #more_btn {
        margin-bottom: 0.2vw;
    }

    #not_goods {
        width: 49.725vw;
        height: 7.533vw;
        font-size: 3.6vw;
        line-height: 3.6vw;
    }

    #round2_q2 {
        width: 60vw;
        height: 36.8vw;
        top: 25.5vw;
        left: 28.5vw;
    }

    #round2_q2_box {
        width: 52.533vw;
    }

    #round2_q2_coffee {
        top: -0.2vw;
        left: 22vw;
        width: 19.373vw;
    }

    #round2_q2_sausage {
        top: 3.1vw;
        left: 11vw;
        width: 14.872vw;
    }

    #round2_q2_egg {
        left: 35vw;
        width: 14vw;
    }

    #round2_q2_noodle {
        width: 21.867vw;
        bottom: -2vw;
    }

    #round2_q3 {
        top: 25.6vw;
        left: 33.275vw;
        width: 53.484vw;
        height: 38.502vw
    }

    #round2_q3_box {
        width: 38.145vw;
    }

    #round2_q3_vegetable {
        top: 11.544vw;
        left: 1.045vw;
        width: 19.268vw;
    }

    #round2_q3_peanut {
        top: -1.22vw;
        left: 5.098vw;
        width: 13.5vw;
    }

    #round2_q3_detergent {
        bottom: 0.87vw;
        left: 37.108vw;
        width: 16.551vw;
    }

    #round2_q3_plant {
        bottom: 2.613vw;
        left: 27.003vw;
        width: 13.24vw;
    }

    #error_popup {
        width: 30vw;
        height: 17.027vw;
        top: 27vw;
        left: 11vw;
    }

    /* =============== 第二關結束 ===============*/
    /* =============== 第三關開始 =============== */
    #left_ip_3 {
        width: 47.533vw;
        bottom: -4vw;
        left: 3.8vw;
    }

    #round03_dialogbox {
        z-index: 5;
    }

    .round3_qa {
        width: 70vw;
        height: 30.667vw;
        top: 33%;
        left: 25%;
    }

    .round3_qa_content {
        width: 70vw;
    }

    .round3_ques_img {
        width: 40px;
        margin-right: 7.62px;
    }

    .round3_ques_txt {
        font-size: 4.26vw;
        line-height: 6.13vw;
        margin: 2px 0 2.87vw;
    }

    .round3_ans_option {
        font-size: 4.26vw;
        line-height: 6.13vw;
        margin-bottom: 2.47vw;
    }

    .round3_ans_option:first-child {
        min-width: 21.6vw;
        margin-right: 2.47vw;
    }

    #round3_error_popup {
        width: 64.267vw;
        height: 59.73vw;
        border: 1.18vw solid #FFFFFF;
        border-radius: 2.5vw;
    }

    #round3_error_a_img {
        margin: 4.64vw auto 0;
        width: 10.13vw;
    }

    #round3_correct {
        width: 54.667vw;
        height: 29.33vw;
        border-radius: 2.5vw;
        margin: 1vw auto 2.5vw;
    }

    #round3_correct_txt {
        width: 49.5vw;
        font-size: 4.27vw;
        line-height: 6.133vw;
    }

    .confirm_btn {
        width: 25.07vw;
        height: 5.87vw;
        font-size: 4.267vw;
        line-height: 5.87vw;
    }

    /* =============== 第三關結束 =============== */
    /* =============== 表單開始 =============== */
    #game_form_title {
        width: 32.26vw;
        height: 28.288vw;
        margin: 4.89vw 5.41vw 0 0;
    }

    #game_form_ip {
        bottom: -3.9%;
        width: 45.81vw;
    }

    .form_row {
        width: 48vw;
        height: 8vw;
        margin-bottom: 5.333vw;
    }

    .game_label {
        font-size: 3.2vw;
        line-height: 4.53vw;
        margin: 0 0px 0 2.565vw;
    }

    .game_input {
        font-size: 3.2vw;
        line-height: 4.53vw;
        width: 30vw;
    }

    .exclamation_word {
        top: 102%;
        left: 2vw;
        font-size: 3.2vw;
        line-height: 4.53vw;
    }

    .form_repeat_btn,
    .form_submit_btn {
        width: 28.8vw;
        height: 7.2vw;
    }

    .form_submit_btn {
        margin: 6.89vw auto 2.66vw;
    }

    .game_completed {
        width: 64.267vw;
        ;
        height: 26.93vw;
        border: 1.18vw solid #FFFFFF;
        border-radius: 2.53vw;
    }

    .game_completed_text {
        font-size: 4.27vw;
        line-height: 6.13vw;
        margin-bottom: 5.333vw;
    }

    /* =============== 表單結束 =============== */
    /* =============== 未滿35分開始 =============== */
    #game_fail_ip {
        width: 39.93vw;
    }

    #game_fail_title {
        width: 51.096vw;
        height: 44.8vw;
    }

    /* =============== 未滿35分結束 =============== */
    .game_times_up_text {
        margin: 0;
    }
}