.br_mb {
    display: none;
}

.act_popup_bg {
    width: 1090px;
    height: 618px;
    border-radius: 20px;
    background: #F3E6DD;
    border: 10px solid #FFFFFF;
    box-shadow: 4.50954px 4.50954px 7.21526px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
}

.act_title_all {
    background-image: url(../../images/activity.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    width: 473px;
    height: 140px;
    margin: 40px auto 10px;
}

.act_title {
    position: absolute;
    top: 15%;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    color: #FFFFFF;
}

.act_content_all {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    height: 388px;
    background: #FFFFFF;
    border-radius: 14px;
}

.act_content_bg {
    height: 100%;
    padding: 40px 40px 40px 20px;
    color: #313436;
    overflow-y: scroll;
}

.act_content_block {
    margin-bottom: 30px;
}

.act_content_tilte {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #48362D;
}

.act_flex {
    display: flex;
}

.act_num,
.act_flex_txt {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #48362D;
}

.act_content_txt {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 0px;
    letter-spacing: 0.04em;
    text-align: justify;
}

.act_product_all {
    margin-top: 20px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.act_product_all_2 {
    justify-content: space-around;
}

#line_points_img {
    width: 180px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.line_points_txt_all {
    margin-bottom: 20px;
}

.line_points_green_txt {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #5D885E !important;
}

.line_points_txt {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #48362D;

}

.act_gift_name {
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.1em;
    color: #48362D;
}

.act_gift {
    margin: 0 auto;
}

#act_gift_01 {
    width: 158.72px;
}

#act_gift_02 {
    width: 300.92px;
}

#act_gift_03 {
    width: 163px;
}

#act_gift_04 {
    width: 146.92px;
}

@media (max-width: 1199.98px) {
    .act_popup_bg {
        width: 750px;
        height: 600px;
    }

    .act_title_all {
        width: 420px;
        height: 124px;
        margin: 32px auto 10px;
    }

    .act_title {
        font-size: 28px;
        line-height: 42px;
    }

    #line_points_img {
        width: 160px;
    }

    .line_points_green_txt,
    .line_points_txt {
        font-size: 20px;
        line-height: 28px;
    }

    .act_gift_name {
        margin-top: 12.46px;
        font-size: 14px;
        line-height: 24px;
    }

    #act_gift_01 {
        width: 105.12px;
    }

    #act_gift_02 {
        width: 199.3px;
    }

    #act_gift_03 {
        width: 107.96px;
    }

    #act_gift_04 {
        width: 97.3px;
    }
}
@media (max-width: 767.68px) {
    .act_popup_bg {
        width: 92vw;
    }
}
@media (max-width: 575.68px) {
    .br_mb {
        display: block;
    }
    
    .act_popup_bg {
        width: 92vw;
        height: 117.33vw;
        border: 5px solid #FFFFFF;
    }

    .act_title_all {
        width: 62.66vw;
        height: 18.6vw;
        margin: 7vw auto 2.67vw;
    }

    .act_title {
        font-size: 4.8vw;
        line-height: 4.5vw;
    }

    .act_content_all {
        width: 95%;
        height: 76vw;
        max-height: 600px;
    }

    .act_content_bg {
        padding: 5.33vw 4vw 5.33vw 3vw;
    }

    .act_content_block {
        margin-bottom: 6vw;
    }

    .act_content_tilte {
        font-size: 4.27vw;
        line-height: 6.4vw;
    }

    .act_num,
    .act_flex_txt {
        font-size: 3.2vw;
        line-height: 5.5vw;
    }

    #line_points_img {
        width: 17vw;
        margin-right: 1vw;
        margin-bottom: 5vw;
    }

    .line_points_txt_all {
        margin-bottom: 5vw;
    }

    .line_points_green_txt,
    .line_points_txt {
        font-size: 3.2vw;
        line-height: 6vw;
    }

    #act_gift_01 {
        width: 13.8vw;
    }

    #act_gift_02 {
        width: 26.573vw;
    }

    #act_gift_03 {
        width: 14.294vw;
    }

    #act_gift_04 {
        width: 12.97vw;
    }

    .act_gift_name {
        width: 18vw;
        margin: 1.67vw auto 0;
        font-size: 3.2vw;
        line-height: 4vw;
    }
}